.tag {
    font-size: 12px;
    width: fit-content;
    border-radius: 2px;
    margin: 2px;
    padding: 2px;
    display: inline-block;
}


.wip {
    background-color: #E2C6FF;
    width: fit-content;
    border-radius: 5px;
    margin: auto;
    padding: 2px;

}

.Physical {
    background-color: #A5ADFF;
    width: fit-content;
    border-radius: 5px;
    margin: auto;
    padding: 2px;
}

.Digital {
    background-color: #CEBEFF;
    width: fit-content;
    border-radius: 5px;
    margin: auto;
    padding: 2px;
}

.done {
    font-size: 11px;
    background-color: #D8C2FF;
    width: fit-content;
    border-radius: 5px;
    margin: auto;
    padding: 2px;
}