.item-container {
    display: inline-block;
    width: 100%;
    border: solid 1.2px #9BA9FF;
    border-radius: 0.6rem;
    margin-bottom: 15px;
}

.item-container img {
    display: block;
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: solid 1.2px #9BA9FF;

}

.item-container:hover {
    cursor: pointer;
    box-shadow: 5px 5px 2px -0.5px #CEBEFF;
    animation: expand;
}

.item-footer {
    text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
    .item-container:hover {
        animation: expand 0.1s both;
    }

}

@keyframes expand {
    from {
        transform: scale(100%);
    }

    to {
        transform: scale(102%);
    }
}