.gallery-modal dialog {
    border-radius: 15px;
    border: solid 2px #9BA9FF;
    width: 30%;
}

.gallery-modal .art {
    border-radius: 15px;
    border: none;
    width: 100%;
}

.gallery-modal img {
    width: 14%;
}

.gallery-modal h3 {
    background-color: #9ba8ff79;
    width: fit-content;
    border-radius: 4px;
    padding: 2px;
}

.gallery-modal:hover {
    cursor: default;
}

.gallery-modal button {
    border: none;
    background-color: transparent;
    float: right;
    margin-bottom: 10px;

}

.gallery-modal button img {
    float: right;
    padding: 5px;
}

.gallery-modal button img:hover {
    cursor: pointer;
    border-radius: 20%;
    background-color: rgba(211, 211, 211, 0.21);
}