.filter button {
    border: none;
    background-color: transparent;
    color: black;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.filter button:hover {
    cursor: pointer;
    color: white;
    background-color: #A5ADFF;
    border-radius: 3rem;
}

.filter-active button {
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: #A5ADFF;
    border-radius: 3rem;
}